<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pet.name}}</title>
    <link href="/static/style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1>Pet Adoption Agency</h1>
    <div class="grid-container">
      <div class="buttons">
        <img id="profile-photo" src="{{pet.photo_url}}" />
        <div class="grid-container">
            {% if pet.available %}
            <form action="/{{pet.id}}/adopt" method="post">
              <button id="adopt">Adopt</button>
            </form>
            {% else %}
            <button id="unavailable">Adopt</button>
            {% endif %}
            <form action="/{{pet.id}}/edit" method="get">
              <button id="edit">Edit</button>
            </form>
            <form action="/{{pet.id}}/delete" method="get">
              <button id="delete">Delete</button>
            </form>
        </div>
      </div>
      <div class="grid-child two">
        <h2>{{pet.name}}</h2>
        <h3>Fun Facts</h3>
        <ul>
          <li class="facts"><b>Specie:</b> {{pet.species}}</li>
          <li class="facts"><b>Age:</b> {{pet.age}}</li>
          <li class="facts"><b>Notes:</b> {{pet.notes}}</li>
        </ul>
        <form action="/homepage">
          <button id="pets">All Pets</button>
        </form>
      </div>
    </div>
  </body>
</html>
